body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
}

header h1 {
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

header ul {
  padding: 0;
}

header li {
  list-style: none;
  font-size: 20px;
}

header li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

header li a:hover {
  background-color: white;
  color: #bf8924;
}

.seasons {
  animation-duration: 20s;
  animation-name: seasons;
  align-items: center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.seasons p{
  max-width: 80%;
  font-size: 20px;
  line-height: 30px;
  text-shadow: 1px 1px 3px whit
}

.winter {
  background-image: url("./images/winter.jpg");
}

.autumn {
  background-image: url("./images/autumn.jpg");
}

.spring {
  background-image: url("./images/spring.jpg");
}

.summer {
  background-image: url("./images/summer.jpg");
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.Parent {
  display: flex;
  flex-direction: row;
}

.left {
  align-items: center;
  background-color: #bf8924;
  border-right: solid 3px #fff;
  color: white;
  display: flex;
  height: 100vh;
  text-align: right;
  width: 14%;
}

.right {
  height: 100vh;
  width: 86%;
}

.right h1{
  animation-name: seasonstext;
  animation-duration: 3s;
  font-size: 110px;
  font-weight: bold;
  text-transform: uppercase;
  transition-timing-function: ease-in;
}

@keyframes seasonstext {
  from {font-size: 10px; opacity: .3;}
  to {font-size: 110px; opacity: 1;}
}

@keyframes seasons {
  from { opacity: .3; background-size: 150%; filter: blur(3px);}
  to { opacity: 1; background-size: 100%; filter: blur(0);}
}